input, select {
  display: block;
  background-color: rgb(60, 199, 255);
  border: 2px solid rgb(60, 220, 255);
  width: 100%;
  margin: 0.1rem;
}

input[type="radio"] {
  display: inline;
  width: 5%;
}

input[type="checkbox"] {
  display: inline;
  width: 5%;
}

body {
  background-color: rgb(70, 170, 255);
  font-family: Tahoma;
}

h1, p {
  color: white;
  text-align: center;
}

fieldset {
  color: white;
  border: none;
  margin: 20px;
}

textarea {
  width: 100%;
  background-color: rgb(60, 199, 255);
  border: 2px solid rgb(60, 220, 255);
  margin: 0,1rem;
  display: block;
}

button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(199, 255, 60);
  font-family: Tahoma;
}